/*! #######################################*/
/*! ############### MOBILE ###############*/
/*! #######################################*/

.notFoundText{
    font-family: Poppins;
    height: 50%;
    text-align: start;
    font-size: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: 79.5%;
    -webkit-text-stroke: 1px #394C02; /* Grosor y color del contorno */
    color: transparent;
}
.notFoundTextInner {
    position: absolute;
    left: -10px;
    bottom: -15px;
    margin: 0;
    padding: 0;
}
.notFoundImage{
    max-height: 80vh;
}
.navbar{
    position:absolute;
    top:-1200%;
    left: 0;
    transition: top 0.3s ease-in-out;
    font-family: Poppins, serif;
}
.active{
    font-weight: bold;
}
.show{
    top:0;
    transition: top 0.3s ease-in-out;
    z-index: 100;
}


/*! ########################################*/
/*! ##### TABLETS & LARGER SMARTPHONES #####*/
/*! ########################################*/
@media (min-width: 481px) {


}

/*! ########################################*/
/*! ################ LAPTOPS ###############*/
/*! ########################################*/
@media (min-width: 769px) {
    .navbar{
        position:relative;
    }
}

/*! ########################################*/
/*! ############ LARGER DESKTOPS ###########*/
/*! ########################################*/
@media (min-width: 1280px) {

}

